<div class="container d-flex flex-column align-items-center">
    <h5 class="text-center">房间号：<strong class="text-primary larger-text">{{roomId}}</strong></h5>
    <h5 class="text-center">你是：<strong class="text-primary larger-text">{{userId}}</strong>号玩家<span ng-if="host" class="text-success">（房主）</span></h5>

    <ul class="play-info">
        <li>{{message}}</li>
        <li>每轮结束后，请房主选择被投出的玩家。</li>
        <li>游戏会自动判断胜负。</li>
    </ul>

    <div class="d-flex flex-row players col-md-6 flex-wrap">
        <div ng-repeat="user in users" class="player rounded-lg">
            {{user.id}}
        </div>
    </div>

    <button ng-if="host && !started" class="btn btn-success btn-lg">开始游戏</button>
</div>