<div class="container d-flex flex-column align-items-center">

    <play-info></play-info>

    <div class="d-flex flex-row players col-md-6 flex-wrap">
        <div class="player rounded-lg" ng-class="{selected: user.id == selected, out: user.status}"
            ng-repeat="user in users" ng-click="onSelectUser(user.id)">
            {{user.id}}
            <img class="out-img" ng-if="user.status" src="../assets/out.png" alt="out"/>
        </div>
    </div>

    <button id="btn-out-player" class="btn btn-danger btn-lg" ng-if="selected" ng-click="onOutPlayer()">
        <span class="spinner-border spinner-border-sm" style="vertical-align: baseline;" role="status"
            aria-hidden="true" ng-show="outing"></span>
        投出{{selected}}号玩家
    </button>

    <button ng-if="host && !started" class="btn btn-success btn-lg" ng-disabled="cannotStart || starting"
        data-toggle="modal" data-target="#startModal" ng-click="onChangeNumber()">
        <span class="spinner-border spinner-border-sm" style="vertical-align: baseline;" role="status"
            aria-hidden="true" ng-show="starting"></span>
        开始游戏
    </button>

    <start-modal ng-if="host"></start-modal>

    <p ng-if="word" class="text-info larger-text">{{word | showWord:show}}</p>

    <button ng-if="word" class="btn btn-info btn-lg" ng-mousedown="onChangeShow(true)" ng-mouseup="onChangeShow(false)">
        按下查看角色词语
    </button>

    <end-modal></end-modal>

</div>
