/* app css stylesheet */

.create-join-form{
    margin-top: 128px;
}

.larger-text{
    font-size: 2em;
}

.play-info{
    margin: 36px 0;
}

.players{
    margin-bottom: 36px;
}

.player{
    position: relative;
    height: 54px;
    width: 54px;
    line-height: 54px;
    text-align: center;
    font-size: x-large;
    margin: 4px;
    font-weight: bold;
    background-color: teal;
    color: white;
    cursor: pointer;
}


.player.selected{
    border: 4px solid orange;
    line-height: 1.9em;
}

.player.out{
    background-color: gray;
}

.out-img{
    position: absolute;
    width: 100%;
    left: 0;
}

#btn-out-player{
    margin-bottom: 24px;
}


#startModal{
    overflow-y: hidden;
}

#blankLabel::before{
    top: 1.5em;
}

#blankLabel::after{
    top: calc(1.5em + 2px);
}
